.container {
  padding: var(--paddingContainer);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 3rem 0;
}

.imageContainer {
  padding-top: 5rem;
}

.descTitle span {
  display: block;
  font-size: var(--size2Xlarge);
  font-weight: 700;
  text-transform: capitalize;
}

.description {
  line-height: var(--leading2);
  width: 500px;
  font-weight: 500;
}

.description ul li {
  padding-top: 1rem;
}