.container {
  padding: var(--paddingContainer);
  margin: 5rem 0;
}

.title {
  padding: 0 0 2rem 0;
}

.title span {
  display: block;
  text-transform: capitalize;
  font-size: var(--size2Xlarge);
  font-weight: 700;
}

.desc {
  width: 50vw;
}

.desc span {
  line-height: var(--leading2);
  font-weight: 500;
}

.buttonMore button {
  background-color: var(--lightBlue);
  border-radius: var(--roundedMedium);
  font-size: var(--sizeSmall);
  color: var(--white);
  text-transform: uppercase;
  padding: 1rem 3rem;
  margin-top: 2.5rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
}